/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Styles généraux de la page */

body {
    font-family: 'Merriweather', serif;
    color: rgb(48, 47, 47);
}


/* Styles de la section 1 */

#section1 {
    background-color: #094d64;
    padding: 10px;
    color: whitesmoke;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


/* Styles des liens */

a {
    color: white;
    text-decoration: none;
}


/* Styles des liens au survol */

a:hover {
    color: rgb(215, 177, 27);
    font-weight: bold;
    font-size: 15px;
    /* Taille ajustée : 15px */
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
}

#section1 {
    flex: 1;
    border-right: solid 1px rgb(212, 210, 210);
    padding-right: 10px;
    background-color: #094d64;
    padding: 10px;
    color: whitesmoke;
    display: flex;
    align-items: start;
    flex-direction: column;
}

#section2 {
    background-color: whitesmoke;
    color: #094d64;
    flex: 2;
    padding: 15px;
}

h1,
h2,
h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 10px 0 10px 0;
}

h1 {
    font-size: 30px;
}

.np {
    width: 100%;
    margin: 0;
    display: flex;
    gap: 5px;
}

.work {
    margin: 0;
}

h2 {
    font-size: 20px;
    /* Taille ajustée : 16px */
}

h4 {
    font-size: 10px;
    /* Taille ajustée : 10px */
}

a,
p {
    font-size: 10px;
    /* Taille ajustée : 10px */
}

h3 {
    font-size: 13px;
    /* Taille ajustée : 12px */
}

ul li {
    font-size: 10px;
    /* Taille ajustée : 10px */
}

.photo {
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100px;
    /* Taille ajustée : 100px */
    width: 100px;
    /* Taille ajustée : 100px */
    display: block;
    border: solid whitesmoke 3px;
    /* Taille ajustée : 3px */
    align-self: center;
}

span {
    color: rgb(133, 132, 132);
    font-weight: normal;
    font-size: 10px;
    /* Taille ajustée : 10px */
}

#section1 hr {
    border-color: white;
    border-style: double;
    border-width: 3px;
}

#section2 hr {
    border-color: #094d64;
    border-style: double;
    border-width: 3px;
    /* Taille ajustée : 3px */
}

#section1 h2 {
    font-size: 20px;
    /* Taille ajustée : 20px */
}

.linkedin,
.git {
    width: 23px;
    /* Taille ajustée : 23px */
    height: 23px;
    /* Taille ajustée : 23px */
    display: inline;
    margin: 0;
}

.link {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    /* Taille ajustée : 10px */
}


/* ... (autres styles) ... */


/* Styles pour l'adresse email et le numéro de téléphone */

address a,
p a {
    color: white;
    text-decoration: none;
}

address a:hover,
p a:hover {
    color: rgb(215, 177, 27);
    font-weight: bold;
    font-size: 15px;
    /* Taille ajustée : 15px */
}

.left-column {
    width: 100%;
}

.info {
    display: inline;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.desc {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
}


/* ... (autres styles) ... */

@media screen and (min-width: 1024px) {
    body {
        width: 100%;
        height: 100%;
    }
    main {
        width: 21cm;
        height: 29.7cm;
        margin: 0 auto;
    }
    #section1 {
        page-break-before: always;
    }
    a {
        color: #094d64;
        text-decoration: underline;
    }
    a:hover {
        color: #094d64;
        text-decoration: underline;
    }
}

#section2 h2,
#section2 h3 {
    margin: 5px 0;
    /* Réduisez la marge des titres dans la section 2 selon vos besoins */
}

#section2 p,
#section2 ul {
    margin: 2px 0;
    /* Réduisez la marge des paragraphes et des listes dans la section 2 selon vos besoins */
}

#section2 ul li {
    margin: 1px 0;
    /* Réduisez la marge des éléments de liste dans la section 2 selon vos besoins */
}